#popups-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 90vh;
    width: 90%;
    z-index: 2;
}

#popups-container img {
    width: 20vw;
}

.pop-up-image {
    position: absolute;
}

@media only screen and (min-width: 320px) and (max-width: 690px) {
    #popups-container img {
        width: 40vw;
    }
}