/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#form-container {
    position: relative;
    height: 100vh;
    width: 30vw;
    z-index: 1;
}

#second-form-container {
    width: 30vw;
}

#form-container .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-container .form-container input {
    background-color: #FA6C1C;
    color: #fff;
    border-radius: 15px;
    border: none;
    margin-bottom: 1rem;
    width: 40vw;
    padding: 1rem 2rem;
    text-align: center;
}

#form-container .form-container input::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #fff;
}

#form-container .form-container label {
    font-family: "GECKO";
    font-size: xx-large;
    color: #F7FC9F;
    text-align: center;
    -webkit-text-stroke-color: #87CEEB;
    -webkit-text-stroke: #87CEEB;
    -webkit-text-stroke-width: 2px;
}

#form-container .form-container input[type=submit] {
    background-color: #FA6C1C;
    color: #fff;
    font-family: "GECKO";
    font-size: x-large;
    text-align: center;
    margin-top: 5vh;
    border-radius: 15px;
}

#form-container .form-container input[type=date] {
    background-color: #FA6C1C;
    color: #fff;
    font-family: "GECKO";
    font-size: x-large;
    padding: 1rem 1rem;
    border-radius: 15px;
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-transform: uppercase;
    text-align: center;
}

#form-container .form-container select {
    background-color: #FA6C1C;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 1rem 1rem;
    font-size: x-large;
    font-family: "GECKO";
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: center;
}

#form-container .form-container select > option {
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 1rem 1rem;
    font-size: x-large;
}

#break-line {
    width: 100%;
    padding: 2rem 0;
}

@media only screen and (min-width: 320px) and (max-width: 690px) {
    #form-container .form-container input[type=submit] {
        font-size: large;
    }
}