@font-face {
  font-family: "GECKO";
  src: url(./Assets/Fonts/Gecko_Lunch.ttf);
}

@font-face {
  font-family: "RAMDONE";
  src: url(./Assets/Fonts/Ramdone.ttf);
}

button,
input {
  appearance: none;
}

body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
